@use '../mixins/hover.scss' as *;

.social-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left: auto;
  margin-right: auto;

  &__icon {
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      @include hover {
        color: var(--primary-color);
      }
    }
  }
}
